.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto";
  justify-content: space-between;
  align-items: center;
}

.header {
  min-height: 25vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #461D6C url("https://res.cloudinary.com/app-temsaida/image/upload/v1643518406/logo-small_jxodsl.png") no-repeat fixed; 
  background-position: center 56px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  align-items: center;
  margin-bottom: 10%;
}

.title {
  font-weight: 500 !important;
}

.lastButton {
  margin-top: 10%;
  margin-bottom: 10%;
}

@media screen and (min-width: 601px) {
  .button {
    width: 300px;
  };
}

@media screen and (max-width: 600px) {
  .button {
    width: 195px;
  };
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
